<!doctype html>
<link rel="stylesheet" href="/static/public/styles/1.0.0/dku-styles.css" />

<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>




<div class="flex-container" ng-app="graphApp" ng-controller="GraphController">
    <section class="graph-parameters">
        <button type="button" class="text-button" ng-click="setTemplate('globalView')">global</button>
        <button type="button" class="text-button" ng-click="setTemplate('localView')">local</button>
        <!-- <button type="button" class="text-button" ng-click="logParentScope()">log parent scope</button> -->

        <!-- <div ng-include="'/plugins/neo4j/resource/templates/global-view.html'"></div> -->
        <div ng-include="template == 'localView' ? '/plugins/neo4j/resource/templates/local-view.html' : '/plugins/neo4j/resource/templates/global-view.html'"></div>
        <!-- <div ng-if="template == 'localView'" ng-include="'/plugins/neo4j/resource/templates/local-view.html'"></div> -->
        
        <label for="queryLimit">Cypher query limit</label>
        <input type="number" id="queryLimit" ng-model="queryLimit"/>
        <button type="button" class="text-button" id="reset-button" ng-click="reset()">Reset</button>
        <button type="button" class="main-blue-button" id="draw-button" ng-click="draw()">Draw</button>
        
    </section>     
    
    <section class="graph-visualization">
        <div class="graph">
            <div ng-if="error.msg" class="fatal-error" style="margin: 100px auto; text-align: center; color: var(--error-red)">
                {{error.msg}}
            </div>

            <div id="edit-node-popUp" class="node-popup">
                <h2 ng-bind="manipulation.editNodePopup"></h2>
                <table style="margin:auto;">
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tbody ng-repeat="property in manipulation.editNodeProperties">
                        <tr>
                            <td><input ng-model="property.key"/></td>
                            <td><input ng-model="property.value"/></td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <td><button type="button" class="text-button" ng-click="addProperty('editNode')">Add Property</button></td>
                      </tr>
                  </tfoot>
                </table>
                <button type="button" class="text-button" id="edit-node-saveButton">Save</button>
                <button type="button" class="text-button" id="edit-node-cancelButton">Cancel</button>
            </div>

            <div id="add-node-popUp" class="node-popup">
                <b> Node label: </b><select ng-model="manipulation.addNodeLabel" ng-options="item for item in nodeLabels"></select>
                <!-- <input ng-model="manipulation.addNodeLabel"/> -->
                <table style="margin:auto;">
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tbody ng-repeat="property in manipulation.addNodeProperties">
                        <tr>
                            <td><input ng-model="property.key"/></td>
                            <td><input ng-model="property.value"/></td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <td><button type="button" class="text-button" ng-click="addProperty('addNode')">Add Property</button></td>
                      </tr>
                  </tfoot>
                </table>
                <button type="button" class="text-button" id="add-node-saveButton">Save</button>
                <button type="button" class="text-button" id="add-node-cancelButton">Cancel</button>
            </div>

            <div id="edit-edge-popUp" class="edge-popup">
                <h2 ng-bind="manipulation.editEdgePopup"></h2>
                <table style="margin:auto;">
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tbody ng-repeat="property in manipulation.editEdgeProperties">
                        <tr>
                            <td><input ng-model="property.key"/></td>
                            <td><input ng-model="property.value"/></td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <td><button type="button" class="text-button" ng-click="addProperty('editEdge')">Add Property</button></td>
                      </tr>
                  </tfoot>
                </table>
                <button type="button" class="text-button" id="edit-edge-saveButton">Save</button>
                <button type="button" class="text-button" id="edit-edge-cancelButton">Cancel</button>
            </div>

            <div id="add-edge-popUp" class="edge-popup">
                <b> Edge type: </b><select ng-model="manipulation.addEdgeType" ng-options="item for item in relationTypes"></select>
                <table style="margin:auto;">
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tbody ng-repeat="property in manipulation.addEdgeProperties">
                        <tr>
                            <td><input ng-model="property.key"/></td>
                            <td><input ng-model="property.value"/></td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <td><button type="button" class="text-button" ng-click="addProperty('addEdge')">Add Property</button></td>
                      </tr>
                  </tfoot>
                </table>
                <button type="button" class="text-button" id="add-edge-saveButton">Save</button>
                <button type="button" class="text-button" id="add-edge-cancelButton">Cancel</button>
            </div>
            
            <div id="graph-container" ></div>
        </div>
        
        
    </section>
</div> 
