#main-container {
    /*background: white;*/
    width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
}

@import '/static/public/styles/1.0.0/variables.css';

form {
    position: relative;
    max-width: 100%;
}

form> p {
    margin: 1em 0em;
}
  
/* Fields */
form .field {
    clear: both;
    margin: 0em 0em 1em;
}
form .field:last-child,
form .fields:last-child .field {
    margin-bottom: 0em;
}
form .fields .field {
    clear: both;
    margin: 0em;
}
  
/* Labels */ 
form .field label {
    display: block;
    margin: 8px 0;
    color: var(--grey-lighten-2);
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
}

/* Standard inputs */

form textarea,
form input:not([type]),
form input[type="date"],
form input[type="datetime-local"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form input[type="search"],
form input[type="tel"],
form input[type="time"],
form input[type="text"],
form input[type="file"],
form input[type="url"] {
  width: 100%;
  vertical-align: top;
}

/* Set max height on unusual input */
form ::-webkit-datetime-edit,
form ::-webkit-inner-spin-button {
  height: 1.21428571em;
}
form input:not([type]),
form input[type="date"],
form input[type="datetime-local"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form input[type="search"],
form input[type="tel"],
form input[type="time"],
form input[type="text"],
form input[type="file"],
form input[type="url"] {
    font-family: var(--font-family);
    font-size: 13px;
    padding: 8px 10px;
    margin: 0;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: none;
    tap-highlight-color: var(--white);
    line-height: 1.21428571em;
    background: var(--white);
    border: 1px solid #d1d1d1;
    color: var(--grey-lighten-2);
    -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
            box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.5s ease;
    transition: color 0.1s ease, border-color 0.5s ease;
}


/* Text Area */
form textarea {
    margin: 0em;
    -webkit-appearance: none;
    tap-highlight-color: var(--white);
    font-size: 13px;
    padding: 8px 10px;
    border-radius: 3px;
    background: var(--white);
    border: 1px solid #d1d1d1;
    outline: none;
    color: var(--grey-lighten-2);
    -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
            box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.5s ease;
    transition: color 0.1s ease, border-color 0.5s ease;
    line-height: 1.2857;
    resize: vertical;
}
form textarea:not([rows]) {
    height: 12em;
    min-height: 8em;
    max-height: 24em;
}
form textarea,
form input[type="checkbox"] {
    vertical-align: top;
}

/* Select */
form select {
    display: block;
    font-family: var(--font-family);
    width: 100%;
    font-size: 13px;
    padding: 8px 10px;
    background: var(--white);
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
            box-shadow: 0em 0em 0em 0em transparent inset;
    color: var(--grey-lighten-2);
    -webkit-transition: color 0.1s ease, border-color 0.5s ease;
    transition: color 0.1s ease, border-color 0.5s ease;
}

form .select {
    position: relative;
}

form .select:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--grey);
}

/* Block */
form .field > .selection.dropdown {
    width: 100%;
}
form .field > .selection.dropdown > .dropdown.icon {
    float: right;
}

/* Inline */
form .inline.fields .field > .selection.dropdown,
form .inline.field > .selection.dropdown {
    width: auto;
}
form .inline.fields .field > .selection.dropdown > .dropdown.icon,
form .inline.field > .selection.dropdown > .dropdown.icon {
    float: none;
}
  

/* Focus */

form input:not([type]):focus,
form input[type="date"]:focus,
form input[type="datetime-local"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="password"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="time"]:focus,
form input[type="text"]:focus,
form input[type="file"]:focus,
form input[type="url"]:focus,
select:focus {
    color: var(--grey-lighten-2);
    border-color: var(--blue);
    background: var(--white);
    -webkit-box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
            box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
}
form textarea:focus {
    color: var(--grey-lighten-2);
    border-color: var(--blue);
    background: var(--white);
    -webkit-box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
            box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
    -webkit-appearance: none;
}

/* Radios */
form .radio {
    margin-bottom: 8px;
}

form .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

form .radio input[type="radio"]:checked + label,
form .radio input[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
}
form .radio input[type="radio"]:checked + label:before,
form .radio input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: var(--white);
}

form .radio input[type="radio"]:not(:checked) + label:before {
    border: 1px solid #d1d1d1;
}

form .radio input[type="radio"]:not(:checked):hover + label:before {
    border: 1px solid #03a9f4;
    opacity: 0.3;
}
form .radio input[type="radio"]:not(:checked):hover + label:after {
    background: #03a9f4;
    opacity: 0.3;
    -webkit-transform: scale(1);
    transform: scale(1);
}

form .radio input[type="radio"]:checked + label:before {
    border: 1px solid #03a9f4;
}

form .radio input[type="radio"]:checked + label:after,
form .radio input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #03a9f4;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
form .radio input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
form .radio input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
form .radio input[type="radio"]:focus + label:after,
form .radio input[type="radio"]:active + label:after {
    background: #03a9f4;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Checkbox */
form .checkbox [type="checkbox"] {
    position: absolute;
    opacity: 0;
}

form .checkbox [type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

form .checkbox [type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

form .checkbox [type="checkbox"]:not(:checked) + label:before {
    border: 1px solid #d1d1d1;
}

form .checkbox [type="checkbox"]:not(:checked):hover + label:before {
    border-color: #03a9f4;
}

form .checkbox [type="checkbox"]:checked + label:before {
    border: 1px solid #03a9f4;
}

form .checkbox [type="checkbox"]:active + label:before,
form .checkbox [type="checkbox"]:focus + label:before {
    border-color: #03a9f4;
}

form .checkbox [type="checkbox"]:checked + label:before,
form .checkbox [type="checkbox"]:checked:active + label:before,
form .checkbox [type="checkbox"]:checked:focus + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Disabled */
form .radio input[type="radio"]:disabled,
select:disabled {
  pointer-events: none;
  opacity: 0.45;
  background-color: var(--grey-background);
}

.field:disabled > label,
form .radio input[type="radio"]:disabled label {
  opacity: 0.45;
}
