<link href="/plugins/neo4j/resource/neo4j.css" rel="stylesheet" type="text/css"/>

<div id="main-container">
    <div ng-controller="Neo4jController">
        <strong>Type of query:</strong>
        <div>
            <select dku-bs-select ng-model="config.queryMode">
                <option value="nodes">Get all nodes with certain label</option>
                <option value="cypher">Custom Cypher query</option>
            </select>
        </div>
        <br/>
        <div ng-if="config.queryMode=='cypher'">
            <strong>Cypher query:</strong>
            <div>
                <textarea id="cypherQuery" ng-model="config.cypherQuery" placeholder="Type your Cypher query..." cols="30" rows="12"></textarea>
            </div>
        </div>
        <div ng-if="config.queryMode=='nodes'">
            <strong>Select nodes:</strong>
            <div>
                <select dku-bs-select ng-model="config.nodeType" ng-options="n for n in nodes"></select>
            </div>
        </div>
    </div>
</div>